
html, body {
  /* remove margins and scroll bars */
  margin: 0;
  
  height: 100%;
  overflow: hidden;
}


#scene-container {
 /* tell our scene container to take up the full page */
 width: 100%;
 height: 100%;
 display: block;
 position: relative;

/*
  Set the container's background color to the same as the scene's
  background to prevent flashing on load
*/
background-color: black;   

}


#date-picker {
  position: absolute;
  bottom: 0; 
  left:0;
  
}

#system-time {
  opacity: 0.3;
  color: white; 
  border-width: 0;           /* Set text color to black */
  background-color:rgb(51, 50, 48)   /* Set background color to gray */
}


