
html, body {
  /* remove margins and scroll bars */
  margin: 0;
  
  height: 100%;
  overflow: hidden;
}

.selectedSystemLabel {
  color: #217049;
  font-family: sans-serif;
  padding: 2px;
  background: rgba( 0, 0, 0, .6 );  text-align: right;
}

.selectedSystemLabel.info {
  font-size: smaller;
}

.label {
  color: #979797;
  font-family: sans-serif;
  padding: 2px;
  background: rgba( 0, 0, 0, .6 );
  text-align: right;
}

.label.info {
  font-size: smaller;
}

#scene-container {
 /* tell our scene container to take up the full page */
 width: 100%;
 height: 100%;
 display: block;
 position: relative;

/*
  Set the container's background color to the same as the scene's
  background to prevent flashing on load
*/
background-color: black;   

}


#bottom-container {
  position: absolute;
  bottom: 0; 


  opacity: 0.3;
  color: white; 
  border-width: 0;           /* Set text color to black */
  background-color:rgb(51, 50, 48)   /* Set background color to gray */
  
}

#system-time {
  left:0;

  opacity: 0.3;
  color: white; 
  border-width: 0;           /* Set text color to black */
  background-color:rgb(51, 50, 48)   /* Set background color to gray */
}


#status {
  right:0;

  opacity: 0.3;
  color: white; 
  border-width: 0;           /* Set text color to black */
  background-color:rgb(51, 50, 48)   /* Set background color to gray */
}


.toast {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  max-width: 100%;
  opacity: 0;
  transform: translate(75%, 0);
  pointer-events: none;
  -webkit-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s ease, transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .toast.displayed {
    opacity: 1;
    transform: translate(0, 0); }
  .toast > .body {
    position: relative;
    font-size: initial;
    margin: 0 1em 1em 1em;
    padding: .5em;
    word-wrap: break-word;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.9);
    pointer-events: all;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
    .toast > .body.info {
      background: rgba(255, 245, 195, 0.9); }
    .toast > .body.warning {
      background: rgba(255, 183, 99, 0.9); }
      .toast > .body.warning > .icon {
        color: white; }
    .toast > .body.error {
      color: white;
      text-shadow: 0 0 1px black;
      background: rgba(255, 86, 86, 0.9); }
    .toast > .body.done {
      background: rgba(147, 255, 157, 0.9); }
